@CHARSET "UTF-8";
body {
	background-color: #FFFFFF;
    padding-top: 60px;
    position: relative;
}

.main-data {
    min-height: 450px;
}

img {
  max-width: 100%;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 35px;
    overflow: hidden;
    padding: 35px 0 36px;
}

.back-to-top {
  cursor: pointer;
  margin-right: 15px;
}
